.login {
    width : 95vw;
    max-width: 400px;
    height: 70vh;
    max-height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #0f0f0f;
    border-radius: 3%;
}
.login-head {
    font-size: 2.5rem;
    flex: 0.2;
}
.login-body {
    flex: 0.7;
    width: 85%;
}
.login-label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 2px;
}
.login-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25rem;
    padding: 3%;
    border: 2px solid #0f0f0f;
    margin-top: 1px;
    margin-bottom: 5px;
}
#login-btn {
    width: 70%;
    font-size: 1.25rem;
    padding: 2% 3%;
    margin: 5px auto;
    background-color: #06971e;
    color: #f1f1f1;
    border: none;
    border-radius: 3%;
}
#invalid-email{
    background-color: #be8a7dce;
    color : #dd1001;
    font-size: 1.25rem;
    font-family:  monospace;
    display: none;
    margin: 5px 0;
    padding: 3px 2px;
    border: none;
    border-radius: 2px;
}